



.bottom_for_renew{
    color: whitesmoke;
    text-align: center;
    font-size: 80px;
}

.title_for_renew{
    font-size: 5rem;
    text-align: center;
    text-shadow: 2px 0px 1px black;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.renew_padding{
    padding: 250px 200px;
    background-image: url('../assets/../../assets/renew_header.jpg');
    background-position: center 50%; /* Center the image horizontally and vertically */
    background-size: cover; /* Scale the image to cover the entire element */

}

.schedule_about a{
    color: red;
}



@media screen and (max-width: 560px) {
    .renew_padding{
        padding: 250px 200px;
        background-image: url('../assets/../../assets/renew_header_mobile.JPG');
        background-position: center 50%; /* Center the image horizontally and vertically */
        background-size: cover; /* Scale the image to cover the entire element */
    
    }
    }