.worship_padding{
    padding: 300px 200px;
    background-image: url('../../assets/worship_header.jpg');
    background-position: center 50%; /* Center the image horizontally and vertically */
    background-size: cover; /* Scale the image to cover the entire element */
}

.worship_text{
    padding: 100px 100px;
    font-weight: bold;
}

.reference{
    font-size: larger;
}
