.ipc__whatIPC {
    display: flex;
    flex-direction: column;
    padding: 2rem;
 
}
.ipc__whatIPC-feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Customizing feature component as per needs */
.ipc__whatIPC-feature .ipc__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.ipc__whatIPC-feature .ipc__features-container_feature-text {
    max-width: 700px;
}

.ipc__whatIPC-heading{
    align-items: center;
}