.about_header_container {
    background-image: url("../assets/AboutBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation-name: zoom-out;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; */
    /* margin-top: 25px; */

  }
  /* @keyframes zoom-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
    0% {
      transform: scale(1.0);
  }
} */


  .about_header_container h1 {
    color: white;
    font-size: 5rem;
    text-align: center;
  }


  .meet_the_team{
    display: flex;
    flex-direction: row;
    color: white;
    margin: 100px 100px;


  }

  .meet_the_team_about_box{
    width: 33%;
    height: 50%;
  }

  .meet_the_team h4{
    font-size: 30px;
  }

  .about_under_image{
    font-size: 15px;
    margin: 0px 0px;
    width: 50%;
    margin-top: 10px;
  }
  .items_about{
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  .items_about img:hover{
    margin-top: 20px;
    transition: transform 0.2s ease-out;
    transform: scale(1.1); /* Zoom in when the mouse hovers over the image */

  }

  .meet_the_team_about_box img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.2s ease-out;

  }

  .meet_the_team_about_box img:hover{
    margin-top: 20px;
    transition: transform 0.2s ease-out;
    transform: scale(1.1); /* Zoom in when the mouse hovers over the image */

  }



  /* History */


  .history_header_container{
    background-image: url("../assets/history_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .history_header_container h1 {
    color: white;
    font-size: 5rem;
    text-align: center;
  }
 .history_text_main{
  text-align: center;
  margin-top: 100px;
  padding-bottom: 200px;
 }


 /* Team */

 .team_header_container{
  background-image: url("../assets/ammachi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.team_header_container h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
}


.team_text_main {
text-align: center;
margin-top: 100px;
padding-bottom: 200px;
}

.teamster_text_main  {
  height: 200px;
}
.teamster_text_main h1{
  color: white;
}


.teamster_text_main img{
  height: 50%;
  width: auto;
}


 /* Pastor */

 .pastor_header_container{
  background-image: url("../assets/Pastor_Pastor.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pastor_header_container h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
}


.pastor_text_main {
text-align: center;
margin-top: 100px;
padding-bottom: 200px;
}


