.sundaySchool_padding{
    background-image: url("../../assets/SundaySchool_header.jpg");
    padding: 250px 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 560px) {
    .sundaySchool_padding{
        padding: 300px 200px;
        background-image: url('../../assets/mobile_sundaySchool_header.jpg');
        background-position: center 50%; /* Center the image horizontally and vertically */
        background-size: cover; /* Scale the image to cover the entire element */
    }
    }