.empower_padding{
    padding: 250px 200px;
    background-image: url('../../assets/empower_header.jpg');
    background-position: center 50%; /* Center the image horizontally and vertically */
    background-size: cover; /* Scale the image to cover the entire element */
}