.welcome_flex {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 500px;
  }
  
  .welcome_left_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    width: 50%;
  }
  
  .welcome_left_text h1 {
    font-size: 3rem;
    margin: 0 0 0 25%;
}
  
  .welcome_left_text p {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 25%;
  }
  
  .welcome_right_image {
    background-color: black;
    background-image: url('../../assets/joshua.png');
    background-position: center;
    background-size: cover;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  @media screen and (max-width: 768px) {
    .welcome_flex {
      flex-direction: column;
      height: auto;
    }
  
    .welcome_left_text {
      width: 100%;
      text-align: center;
      padding: 20px;
    }
  
    .welcome_right_image {
      height: 300px;
      justify-content: center;
    }
  }


@media screen and (max-width: 550px) {
  .welcome_left_text h1{
    text-align: center;
    margin: 0px;
  }
}