@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Arial','Helvetica','sans-serif';

  --gradient-text: linear-gradient(89.97deg, #fe5b18 1.84%, #d53621 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #fe5b18 -13.86%, #d53621 99.55%);
  
  --color-bg: #101010;
  --color-footer : #29282a;
  --color-blog: #29282a;
  --color-text: white;
  --color-subtext: #FF8A71;
}