.aboutIPC{
    background-color: transparent;
    margin-top: 0;
}
.title{
    z-index: 999;
    color: white;
}
.text{
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}


@media screen and (max-width: 550px) {
    .text{
        font-size: 10px;
        padding: 0px;
    }
      
}
