.ipc__whatIPC {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    /* ff 3.6+ */
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(61, 59, 64, 1) 0%, rgba(40, 40, 42, 1) 50%, rgba(9, 9, 9, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(61, 59, 64, 1) 0%, rgba(40, 40, 42, 1) 50%, rgba(9, 9, 9, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(61, 59, 64, 1) 0%, rgba(40, 40, 42, 1) 50%, rgba(9, 9, 9, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090909', endColorstr='#3D3B40', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(61, 59, 64, 1) 0%, rgba(40, 40, 42, 1) 50%, rgba(9, 9, 9, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(61, 59, 64, 1) 0%, rgba(40, 40, 42, 1) 50%, rgba(9, 9, 9, 1) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.ipc__whatIPC-feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Customizing feature component as per needs */
.ipc__whatIPC-feature .ipc__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.ipc__whatIPC-feature .ipc__features-container_feature-text {
    max-width: 700px;
}

.ipc__whatIPC-heading{
    align-items: center;
}