@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.involved_header{
    background-image: url("../assets/get_involved.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.involved_header h1{
    font-size: 5rem;
    text-align: center;
    text-shadow: 2px 0px 1px black;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}


.involved_header button{
    opacity: 1;
    background-color: #FF8A71;
    color: black;
    margin-top: 200px;
  }
  .involved_header button:hover{
    opacity: 1;
    background-color: #FF8A71;
    color: black;
    margin-top: 200px;
    font-weight: bolder;
  }

.bottom_text{
  background-color: #FFF;

}


.bottom_text_about{
  color: black;
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: 500;
  padding: 100px 300px;
  text-indent: 40px;
}


.verse{
  font-family: 'Marck Script', cursive;
  font-size: 20px;
}

.reference{
  font-family: 'Hanken Grotesk', sans-serif;

}

.top_container_about{
  padding: 50px 50px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column;

  width: 30rem; /* Same width as the images */
  margin-top: 1rem; /* Adjust margin as desired */
}


.bottom_container_about{
  background-color: #FFF;
  font-family: 'Hanken Grotesk', sans-serif;

}

.schedule_about{
  text-align: center;
  color: black;
  padding-bottom: 50px;

}

.images_at_renew{
  display: flex;
  justify-content: space-around;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

}
.images_at_renew img{
  width: 30rem;
  height: auto;   
}


  @media screen and (max-width: 560px) {

    .images_at_renew img{
      display: none;
    }
    
    }



    @media screen and (max-width: 560px) {

      .involved_header {
        background-image: url("../assets/involved_header_mobile.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .bottom_text_about{
        color: black;
        display: flex;
        justify-content: center;
        line-height: 30px;
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
        
      
      }
      .schedule_about{
        text-align: center;
        color: black;
       font-size: 15px;
      }

      
      }