.involved_header{
    background-image: url("../assets/AboutBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.involved_header h1{
    color: white;
    font-size: 5rem;
    text-align: center;
}


.involved_header button{
    opacity: 1;
    background-color: #FF8A71;
    color: white;
    margin-top: 75px;
  }
  .involved_header button:hover{
    opacity: 1;
    background-color: #FF8A71;
    color: black;
    margin-top: 75px;
    font-weight: bolder;
  }