@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.involved_header{
    background-image: url("../assets/get_involved.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.involved_header h1{
    font-size: 5rem;
    text-align: center;
    text-shadow: 2px 0px 1px black;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}


.involved_header button{
    opacity: 1;
    background-color: #FF8A71;
    color: black;
    margin-top: 200px;
  }
  .involved_header button:hover{
    opacity: 1;
    background-color: #FF8A71;
    color: black;
    margin-top: 200px;
    font-weight: bolder;
  }


  @media screen and (max-width: 560px) {

    .involved_header {
      background-image: url("../assets/involved_header_mobile.JPG");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    }